@media (max-width:1770px) {
    .girl-banner {
    right: -2vw;
    }
}

@media (max-width:1148px) {
    
    .about-bg {
    
        background-size: cover;
        background-position: center center;
        height: 358px;
        
     }
     .about-wrapper {
        gap:38px;
        margin-top: 90px;
        margin-bottom: 34px;
     }
}

@media (max-width:1060px) {
    .features {
        /* flex-wrap: wrap;
        align-items: center; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 83px;
        gap:43px;
       
     }

     .features-description {
        
        font-size: 16px;
        
     }
    

     .features-item:nth-child(1) {
        max-width: 208px;
     }
    
     .features-item:nth-child(2) {
        max-width: 251px;
     }
    
     .features-item:nth-child(3) {
        max-width: 184px;
     }

     .features-item:nth-child(4) {
        max-width: 193px;
     }
}


@media (max-width:883px) {

    .header-wrapper{
        gap:10px;
    }

    .nav {
        gap:30px;
    }

    .nav-footer {
        gap:40px;
    }

}

@media (max-width:768px) {
    
    .header-wrapper{
        /* gap:38px; */
        gap: min(11vw, 38px);
        padding-top: 35px;        
    }


    .nav {
        display: none;
    }

    .nav-link {
        display: block;
        padding-bottom: 20px;
    }

    .nav-link:hover::after {
        background-color: transparent;
    }

    .nav-link:not(:last-child) {
        border-bottom: 1px solid rgba(var(--dark-rgba), .2);
    
    }


    .nav._modal {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap:20px;
        margin-top: 40px;
        margin-bottom: 38px;
    }


   .modal-wrapper {
        width: 100%;
        max-width: 587px;
        height: 462px;
        position: absolute;
        left:0;
        right:0;
        margin: 0 auto;
        top: -700px;
        z-index: 1;
        background-color: rgba(var(--dark-rgba), .4);
        transition: var(--tr);
   }

    .modal {
        z-index: 2;
        width: 100%;
        /* max-width: 587px; */
        height: 283px;
        box-sizing: border-box;
        display: block;
        background-color: var(--gray);
        padding: 29px 10px;
        position: absolute;
        left:0;
        right:0;
        margin: 0 auto;
        top: 0;
    }

    .modal-close {
        display: block;
        width: 20px;
        height: 19px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 33px;
        right: 10px;
    }


    .button-menu {
        display: block;
        flex-grow: 1;
    }

    .banner-bg {
        margin-top: 45px;
        height: 493px;
    }

    .banner-text {
        padding-top: 71px;
    }

    .banner-description{
        font-size: 16px;

    }

    .girl-banner {
        right: -3vw;
        }


    .subtitle {
        margin-bottom: 16px;
    }
    .block-description {
        padding-left: 0 ;
    }

    .button-arrow {
        width: 39.25px;
        height: 40px;
    }


    .banner {
        margin-bottom: 67px;
    }

    /* Grid */

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 224px);
        grid-template-areas: "a d" "b e" "c f";
    }

    .item {
        padding:20px 24px;
    
    }

    .date-item {
        font-size: 16px;
    }
    .type {
        font-size: 16px;
    }

    .item {
        gap:35px;
    }

    .timetable {
        margin-bottom:76px;
    }
    .img-item-jump {
        width: 43px;
        height: 69px;
    }

    .about {
        margin-bottom:76px;
    }

    .button-about {
        width: 214px;
        
     }


     ._footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

     .nav-footer {
        display: none;
    }

    .email-footer {
        display: none;
    }

    .copy-left {
        display: none;
    }

    .copy-right {

        font-size: 10px;
        text-align: right;
    
    }
    
    

}

@media (max-width:680px) {

    .girl-banner {
        display: none;
    }
    .banner-bg {
        display: none;
    }

    .date-item {
        font-size: 14px;
    }
    .type {
        font-size: 14px;
    }

    .timetable-title {
        font-size: 26px;
        max-width: 200px;  
    }
    .date {
        font-size: 16px;  
    }

    .grid {
        /* grid-template-columns: 330px; */
        grid-template-columns: 1fr;
        grid-template-rows: 114px;
        grid-template-areas: "a" "d" "b" "e" "c" "f";
    }

    .item {
        padding:12px;
        gap:12px;
    }

    .img-item {
        width: 39px;
        height: 39px;
    }

    
    .img-item-body {
        width: 39px;
        height: 39px;
    }
    
    .img-item-body-sculpt {
        width: 23px;
        height: 45px;
    }
    
    .img-item-lab {
        width: 46px;
        height: 25px;
    }
    
    .img-item-jump {
        width: 34px;
        height: 53px;
    }
    
    .img-item-heart {
        width: 39px;
        height: 37px;
    }
    
    .img-item-weight {
        width: 35px;
        height: 40px;
    }

    .subscribe {
    
        height: 360px;
    }

    .form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 31px;
    }

    .button-subscribe {
        /* flex-basis: 330px; */
        width: 330px;
    }

    .button-banner {
        width: 330px;
    }

    .email-input {
        width:330px; 
    }
    

    .button-about {
        /* flex-basis: 330px; */
        width: 330px;
    }

    .subscribe {
    
        height: 416px;
    }

    .subscribe-block {
        padding-top:57px;
        padding-bottom:64px;
    
    }

    .subscribe-title {
        font-size: 26px;
        max-width: 201px;
    }

    .about-bg {
        display: none;
    }

    .about-wrapper {
       
       align-items: center;
     }

    .about-title {
        font-size: 26px;  
    }

    .about-description {
        font-size: 16px; 
    }

    .about-wrapper {
        margin-top: 76px;
        margin-bottom: 57px;
        gap:0;
     }

     .about-text {
        max-width:340px;
     }

     .about-wrapper {
        margin-top: 76px;
     }

     .about {
        margin-bottom:68px;
    }

    .features-item {
        gap:16px;
    }

    .features {

        grid-template-columns: 452px;
        grid-template-rows: repeat(1, 1fr);        
        gap:40px;
    }

    .features-title {
        
        font-size: 16px;
        
     }
}


@media (max-width:360px) {

    .logo {
        width: 78px;
        height: 24px;
    }

    .header-wrapper {
        padding-top: 32px;
    }

    .banner-text {
        padding-top: 63px;
    }

    .banner-bg {
        display: none;
    }

    .button-arrow {
        display: none;
    }

    .banner {
        margin-bottom: 76px;
    }


    .timetable-block {
        
        margin-bottom: 20px;
    }

    .subscribe-title::before {
        width: 31px;
        height: 31px;
        left: -15px;
        top:-10px;
      
    }

    .logo-footer {
    
        width: 78px;
        height: 24px;
    }
    

}